<div class="header">
  Добавить тег
</div>
<div class="content">
  <form id="tag-add-form" method="POST" class="ui form" action="{% url 'tag_add' %}">
    {% csrf_token %}
    <div class="field">
      <input id="tag-name" type="text" class="form-control" placeholder="Название тега" name="name" required>
    </div>
  </form>
</div>
<div class="actions">
  <button class="ui primary ok right labeled icon button" type="submit">Добавить<i class="checkmark icon"></i></button>
  <button class="ui black deny button" type="button" data-dismiss="modal">Закрыть</button>
</div>
