{% extends "base.html" %}
{% load martortags %}
{% load my_tags %}

{% block title %}Все - {% endblock %}

{% block content %}
<div class="ui stackable grid">
  <div class="three wide column">
    <div class="ui buttons">
      <button id="group-add" class="ui blue basic button">Добавить группу</button>
      <div class="ui blue icon top left pointing dropdown button">
        <i class="wrench icon"></i>
        <div class="menu">
          <div class="item" id="group-edit">Редактировать активную группу</div>
          <div class="item" id="group-delete">Удалить активную группу</div>
        </div>
      </div>
    </div>

    <div id="group-menu" class="ui pointing vertical blue secondary menu">
      {% for group in groups %}
        {% if forloop.first %}
          <a id="group-item" class="item active" data-tab="{{ group.id }}">
            {{ group }}
          </a>
        {% else %}
          <a id="group-item" class="item" data-tab="{{ group.id }}">
            {{ group }}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

   <div class="thirteen wide column">
    <p><a id="note-add"><button class="ui green basic button">Добавить заметку</button></a></p>

    {% for group in groups %}
      {% if forloop.first %}
        <div class="ui active tab" data-tab="{{ group.id }}">
          {% for note in notes %}
            {% if note.group.id == group.id %}
              <div class="ui stacked segment martor-preview">
                <span class="ui medium green header">{{ note.head }}</span>
                <a class="ui mini right corner label" id="copy-link" data-clipboard-action="copy" data-clipboard-text="http://{{ request.get_host }}/view/{{ note.link }}">
                  <i class="copy icon"></i>
                </a>
                <div class="ui clearing divider"></div>
                <p>
                  {% for tags in note.tags_choices.all %}
                    <span id="tag" class="ui tag tiny label">{{ tags }}</span>
                  {% endfor %}
                </p>
                <p>{{ note.body|safe_markdown }}</p>
                <div class="ui fitted divider"></div>
                <div class="ui items">
                  <div class="item">
                    <div class="middle aligned content">
                      <div class="decription">
                        Автор: {{ note.user.last_name }} {{ note.user.first_name }} Дата: {{ note.created }} 
                          {% if note.name_modifed %}
                            Изменено: {{ note.modifed }} ({{  note.name_modifed }})
                          {% endif %}
                          <a id="note-delete" value-id="{{ note.id }}" value-head="{{ note.head }}"><i class="large red right floated trash alternate icon" title="Удалить заметку"></i></a>
                          <a href="{% url 'note_edit' note.id %}"><i class="large green right floated edit outline icon" title="Редактировать заметку"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

      {% else %}
        <div class="ui tab" data-tab="{{ group.id }}">
          {% for note in notes %}
            {% if note.group.id == group.id %}
              <div class="ui stacked segment martor-preview">
                <span class="ui medium green header">{{ note.head }}</span>
                <a class="ui mini right corner label" id="copy-link" data-clipboard-action="copy" data-clipboard-text="http://{{ request.get_host }}/view/{{ note.link }}">
                  <i class="share icon"></i>
                </a>
                <div class="ui clearing divider"></div>
                <p>
                  {% for tags in note.tags_choices.all %}
                    <span id="tag" class="ui tag tiny label">{{ tags }}</span>
                  {% endfor %}
                </p>
                <p>{{ note.body|safe_markdown }}</p>
                <div class="ui fitted divider"></div>
                <div class="ui items">
                  <div class="item">
                    <div class="middle aligned content">
                      <div class="decription">
                        Автор: {{ note.user.last_name }} {{ note.user.first_name }} Дата: {{ note.created }} 
                        {% if note.name_modifed %}
                          Изменено: {{ note.modifed }} ({{  note.name_modifed }})
                        {% endif %}
                        <a id="note-delete" value-id="{{ note.id }}" value-head="{{ note.head }}"><i class="large red right floated trash alternate icon" title="Удалить заметку"></i></a>
                        <a href="{% url 'note_edit' note.id %}"><i class="large green right floated edit outline icon" title="Редактировать заметку"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

      {% endif %}
    {% endfor %}
  </div>

</div>


<div id="ModalGroupAdd" class="ui small modal">
  <i class="close icon"></i>
  {% include "modal-group-add.html" %}
</div>

<div id="ModalNoteDelete" class="ui small modal">
  <i class="close icon"></i>
  {% include "modal-note-delete.html" %}
</div>

<div id="ModalGroupDelete" class="ui small modal">
  <i class="close icon"></i>
  {% include "modal-group-delete.html" %}
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
$('.menu .item').tab();

{# Модаль добавления группы #}
$("#group-add").on('click', function(){
  $("#ModalGroupAdd").modal('show');
});

$('#ModalGroupAdd').modal({
  onApprove: function() {
    $.ajax({
      type: "POST",
      url: "{% url 'group_add' %}",
      headers: {'X-CSRFToken': '{{ csrf_token }}'},
      data: $('#group-add-form').serialize(),
      dataType: "json",
      cache: false,
      success: function(data) {
        $('#group-name').val('');
        location.reload();
      },
      error: function(data) {
        $('#group-name').val('');
        location.reload();
      },
  })
}
});

{# Модаль удаления заметки #}
$('.segment #note-delete').click(function(event){
  event.preventDefault();
  var id_note = $(this).attr("value-id");
  var head_note = $(this).attr("value-head");
  $("#note-delete-header").text(head_note);
  $('#ModalNoteDelete').modal({
    onApprove: function() {
      $.ajax({
        type: "GET",
        url: "{% url 'note_delete' 0 %}".replace(/0/, id_note.toString()),
        success: function(data) {
          location.reload();
        },
        error: function(data) {
          location.reload();
        },
      })
    }
  }).modal('show');
});

{# Удаление группы #}
$('#group-delete').click(function() {
  var id_group = $('a#group-item.item.active').attr("data-tab");
  var name_group = $('a#group-item.item.active').text().trim();
  $("#group-delete-name").text(name_group);
  $('#ModalGroupDelete').modal({
    onApprove: function() {
      $.ajax({
        type: "GET",
        url: "{% url 'group_delete' 0 %}".replace(/0/, id_group.toString()),
        success: function(data) {
          location.reload();
        },
        error: function(data) {
          location.reload();
        },
      })
    }
  }).modal('show');
});

{# Изменение группы #}
$('#group-edit').click(function() {
  var id_group = $('a#group-item.item.active').attr("data-tab")
  document.location.href = "{% url 'group_edit' 0 %}".replace(/0/, id_group.toString());
});


{# Копирование ссылки на записку в буфер #}
$('a#copy-link')
.popup({
    content: 'Скопировать ссылку',
    //variation: 'inverted',
    position: 'left center',
})

var clipboard = new ClipboardJS('a#copy-link');


clipboard.on('success', function(e) {
  //console.log(e);
  e.clearSelection();
  $(e.trigger).popup('change content', 'Готово!')
});

clipboard.on('error', function(e) {
  //console.log(e);
  $(e.trigger).popup('change content', 'Не робит...')
});


{# Получить id группы для добавления заметки #}
$('#note-add').click(function(event){
  var id_group = $('a#group-item.item.active').attr("data-tab");
  document.location.href = "{% url 'note_add' 0 %}".replace(/0/, id_group.toString());
});

{# Поиск по тегу при двойном клике #}
$("span#tag").dblclick(function(){
  var tag = $.trim($(this).text());
  document.location.href = "{% url 'search' %}?text=0&tags=on".replace(/0/, tag.toString());
})

$( document ).ready(function() {
  setTimeout("$('.linux.icon').addClass('animated swing');", 1000);
});
</script>
{% endblock %}
